.login-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  color: #9396A4;
  position: relative;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
  height: auto;
}
.form-login{
  background-color: white;
  width: 100%;
  padding: 15px;
  left: auto;
  top: auto;
}
.login-header {
  margin: 50px 0 20px 0;
  padding: 0;
  box-sizing: border-box;
  color: #9396A4;
}
.flex-grid {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #9396A4;
}
.signup-callout {
  text-align: center;
  display: block;
  padding: 20px;
  position: relative;
  background: #32333B;
  border-radius: 6px;
  margin: 40px 0 20px 0;
  overflow: hidden;
  box-sizing: border-box;
}
.login-logo {
  margin: 0 0 0 -6px;
  //font: 0/0 a;
  //background: url(https://static.codepen.io/assets/logos/codepen-logo-eccd67a….svg) no-repeat;
  //background-size: 176px 31px;
  //background: #0b0b0b;
  width: 220px;
  height: 31px;
  opacity: 0.5;
  padding: 0;
  box-sizing: border-box;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  display: block;
  color: black;
}
.little-big-header {
  font-size: 4.5rem;
  margin: 0;
  color: black;
  font-family: "Telefon", Sans-Serif;
  line-height: 1.2;
  font-weight: normal;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
.login-half.left {
  width: 55%;
  margin: 0;
  padding: 0 10% 0 0 ;
  box-sizing: border-box;
  color: #9396A4;
}
.login-divider {
  width: 0%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #9396A4;
}
.login-area,
.login-form{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.forgot-password-form {
  display: none;
  padding: 20px 20px 0 20px;
  position: relative;
  background: #32333B;
  border-radius: 6px;
  margin: 40px 0 20px 0;
  overflow: hidden;
}
.login-form .field {
  padding-right: 0;
  margin: 0 0 10px 0;
  color: #9396A4;
  box-sizing: border-box;
}
.top-label-form>div {
  margin: 0 0 10px 0;
  padding: 0;
  box-sizing: border-box;
}
.field>label {
  color: #525359;
  cursor: pointer;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
}
.top-label-form label {
  font-weight: normal;
  display: block;
  margin: 0 0 3px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#login-email-field,
#login-password-field_{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  -webkit-appearance: none;
  outline: 0;
  background: #eaedf0;
  border: 1.5px solid #0b0b0b;
  border-radius: 3px;
}
.spacing-label{
  cursor: default;
}
#log-in-button {
  position: relative;
  background: #47cf73;
  color: #000;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding,0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) right;
  -webkit-appearance: none;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  display: inline-block;
  outline: 0;
  padding: 10px 16px;
  margin: 0 10px 0 0;
  border-radius: 3px;
  border: 3px solid transparent;
  align-items: flex-start;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
  font-weight: normal !important;
}
.label{
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding,0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) right;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font-weight: normal !important;
}
.spinner{
  right: 15px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding,0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) right;
  position: absolute;
  width: 26px;
  height: 26px;
  background-size: 26px;
  top: 50%;
  margin-top: -13px;
  opacity: 0;
  background-image: url(data:image/gif;base64,R0lGODlhIAAgAPMAAJmZmf///6+vr8nJybW1tcDAwOjo6Nvb26ioq…llx+BP0XJLAPGzTkAuAOqb0WT5AH7OcdCm5B8TgRwSRKIHQtaLCwg1RAAAOwAAAAAAAAAAAA==);
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  text-align: center;
  font-weight: normal !important;
  cursor: pointer;
  white-space: nowrap;
}
#forgot-password-link{
  text-decoration: none;
  color: #7198d6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
.h3{
  border-bottom: 3px solid rgba(255,255,255,0.1);
  padding-bottom: 10px;
  position: relative;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.2;
  margin: 0 0 10px 0;
  color: #9396A4;
}
#sent-message {
  padding-bottom: 20px;
  margin: 0;
  box-sizing: border-box;
  display: none;
}
.labelForgot{
  color: #9396A4;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#forgot-email-btn{
  margin-right: 0 !important;
  padding: 8px 12px;
  font-size: 1.3rem;
  background: #36383F;
  color: black;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  -webkit-appearance: none;
  text-shadow: none;
  line-height: 1.2;
  display: inline-block;
  outline: 0;
  margin: 0 10px 0 0;
  position: relative;
  border-radius: 3px;
  border: 3px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
  font-weight: normal !important;
  box-sizing: border-box;
}
.login-divider {
  width: 0%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #9396A4;
}
.login-half.right {
  padding-left: 10%;
  width: 45%;
  margin-right: 0;
  box-sizing: border-box;
}
.signup-callout {
  text-align: center;
  display: block;
  padding: 20px;
  position: relative;
  background: #32333B;
  border-radius: 6px;
  margin: 40px 0 20px 0;
  overflow: hidden;
  box-sizing: border-box;
}
.login-divider .bar-top {
  top: 0;
  height: 41%;
  width: 2px;
  position: absolute;
  background: #0b0b0b;
  left: -1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-or {
  position: absolute;
  width: 46px;
  height: 18%;
  left: -23px;
  border: 2px solid #0b0b0b;
  top: 41%;
  text-align: center;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 30px;
  color: #0b0b0b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-divider .bar-bottom {
  bottom: 0;
  height: 41%;
  width: 2px;
  position: absolute;
  background: #0b0b0b;
  left: -1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
.social-auth-errors {
  display: none;
  padding: 20px;
  position: relative;
  background: #32333B;
  border-radius: 6px;
  margin: 0 0 20px 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.login-social-buttons{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.twitter-button {
  background: #60b5f0;
  color: white;
  text-align: left;
  display: block;
  width: 100%;
  margin: 10px 0;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  -webkit-appearance: none;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  outline: 0;
  padding: 10px 16px 10px 60px;
  position: relative;
  border-radius: 3px;
  border: 3px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  font-weight: normal !important;
  box-sizing: border-box;
}
.social-account-button svg {
  width: 26px;
  height: 26px;
  fill: #fff;
  position: absolute;
  left: 14px;
  top: 6px;
  display: inline-block;
  pointer-events: none;
  vertical-align: bottom;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}
.github-button {
  background: #7B7E8C;
  color: white;
  text-align: left;
  display: block;
  width: 100%;
  margin: 10px 0;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  -webkit-appearance: none;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  outline: 0;
  padding: 10px 16px 10px 60px;
  position: relative;
  border-radius: 3px;
  border: 3px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  font-weight: normal !important;
  box-sizing: border-box;
}
.facebook-button {
  background: #4464a2;
  color: white;
  outline: 0;
  padding: 10px 16px 10px 60px;
  text-align: left;    display: block;
  width: 100%;
  margin: 10px 0;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  -webkit-appearance: none;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  position: relative;
  border-radius: 3px;
  border: 3px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  font-weight: normal !important;
  box-sizing: border-box;
}
.span-social{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  cursor: pointer;
  white-space: nowrap;
  font-weight: normal !important;
}
.signup-callout>a{
  text-decoration: none;
  color: #76DAFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 600px) {
  .login-logo {
    margin: 15px 0 5px 0;
    background-size: 110px 24px;
    width: 220px;
    height: 24px
  }
}

@media (max-width: 600px) {
  .login-half.left, .login-half.right, .login-header {
    padding: 2%
  }
  .login-header {
    margin-top: 10px
  }
  .login-divider {
    width: 100%;
    position: relative;
    height: 40px;
    margin-top: 20px
  }
  .login-divider .bar {
    width: 41%;
    height: 2px;
    position: absolute;
    background: #888
  }
  .login-divider .bar-top {
    left: 0
  }
  .login-divider .bar-bottom {
    right: 0;
    left: auto;
    top: 0
  }
  .login-or {
    width: 18%;
    height: 30px;
    left: 41%;
    top: -15px
  }
  .login-half{
    width: 100% !important;
  }
  .form-login{
    width: 100%;
    //padding: 15px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 600px) {
  .signup-feature-list {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    border-top: 6px solid #7B7E8C;
    border-left: none
  }
}
@media (max-width: 830px) {
  .fields > div#billing-card-cvc {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2
  }
}
@media (min-width: 551px) {
  .form-wrap {
    margin-top: 40px
  }
}